ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 15px;
}

.active {
  background-color: rgb(255, 102, 0);
}

li {
  float: left;
}
li a:hover {
  background-color: rgb(182, 73, 0);
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-family: "Oswald", sans-serif;
  font-size: large;
}

.header {
  padding: 60px;
  font-size: 30px;
  background: rgb(255, 102, 0);
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ffffff;
  color: #000000;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
}

.homePageContainer,
.homePageContainer2 {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}

.homepageP1:hover {
  background-color: beige;
}

.homepageP2:hover {
  background-color: beige;
}

.homepageP1,
.homepageP2 {
  padding: 20px;
  border: 2px solid lightcoral;
  background-color: rgba(247, 149, 44, 0.84);
  border-radius: 30px;
  box-shadow: 5px 4px 3px grey;
  text-align: center;
  justify-content: center;
  font-family: "Oswald";
  font-size: 20px;
}

.bannerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerImage {
  max-width: 98%;
  padding: 10px;
  border-radius: 30px;
}
.logo {
  width: 100%;
  max-width: 20%;
  height: auto;
  padding: 10px;
  padding-left: 40px;
}

.gridContainer1 {
  margin: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}
.product1img {
  grid-column: 1/1;
  grid-row: 1/1;
}
.product2img {
  grid-column: 1/1;
  grid-row: 2/2;
}
.product3img {
  grid-column: 1/1;
  grid-row: 3/3;
}
.product1img,
.product2img,
.product3img {
  width: 550px; /* Adjust the width as needed */
  height: auto; /* This will maintain the aspect ratio */
}

.btn1,
.btn2,
.btn3 {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn1:hover {
  opacity: 0.6;
}

.btn2:hover {
  opacity: 0.6;
}

.btn3:hover {
  opacity: 0.6;
}

.gridContainer1p,
.gridContainer2p,
.gridContainer3p {
  padding: 20px;
  border: 2px solid lightcoral;
  background-color: rgba(247, 149, 44, 0.576);
  border-radius: 30px;
  box-shadow: 5px 4px 3px grey;
  font-size: 24px;
  font-family: "Roboto Slab";
}

.gridContainer1p:hover {
  background-color: beige;
}

.gridContainer2p:hover {
  background-color: beige;
}

.gridContainer3p:hover {
  background-color: beige;
}

.contact-form {
  width: 100%; /* Adjust based on preference */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
